.list-icon-client__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  justify-content: center;
  color: var(--icons);
  align-items: center;
  width: 210px;
  height: 92px;
  border: var(--icons) solid 1px;
  border-radius: 4px;

  @media screen and (min-width: 768px) {
    width: 226px;
  }

  @media screen and (min-width: 1200px) {
    width: 170px;
  }
}