:root {
    --background-button-color: #2196f3;
    --p-color: #757575;
    --background-color: #7c6262;
    --underheader: #2f303a;
    --white: #ffffff;
    --colorf5f4: #f5f4fa;
    --twentyone: #212121;
    --footer: #2f303a;
    --yes: #ececec;
    --black: #000000;
    --border: #eeeeee;
    --icons: #afb1b8;
    --bold-letters: rgba(33, 33, 33, 1);
}